@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
::selection{
    background: #ffb084;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
    color: #000000;
    margin: 0 15%;
    gap: 4em;
    height: 100vw;
    align-items: center;
    justify-content: flex-start;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0;
}

a{
    text-decoration: none;
    color: inherit;
}
.menus{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.btn{
    background-color: #4685ff;
    padding: 1em 2em;
    border-radius: 6px;
}
.hero{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
    margin-bottom: 6em;
}

h1{
    font-size: 48px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0;
}
.colors{
    background: linear-gradient(120deg, #4685ff, #ffb084);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{
    letter-spacing: normal;
    line-height: 150%;
    font-size: 18px;
}
.subtitulo{
    font-size: 24px;
}
.hero-texto{
    gap: 3em;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero-img{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.imag{
    max-width: 100%;
}
.hero-botoes{
    display: flex;
    flex-direction: row;
    gap: 1em;
    font-size: 18px;
}
.btn-1{
    padding: 1em 2em;
    background-color: #4685ff;
    border-radius: 6px;
    display: inline-block;
}
.btn-2{
    padding: 1em 2em;
    background-color: #f2f2f2;
    border-radius: 6px;    
    display: inline-block;
}
.info{
    position: absolute;
}
.card{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 3em;
}
.cartoes{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: center;
    align-items: center;
}
.back{
    background-color: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 5%;
    border-radius: 6px;
    top: 0;
    left: 0;
}
h2{
    font-size: 32px;
    letter-spacing: -1px;
    font-weight: 700;
    margin: 0;
}
.cards{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.esq{
    width: 30%;
}
.dir{
    width: 70%;
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    flex-direction: row;
}
.how{
    background-color: #f2f2f2;
    padding: 3em 5em;
    display: flex;
    border-radius: 6px;
    flex-direction: row;
    gap: 6em;
    justify-content: space-between;
}
.passo{
    width: 30%;
    flex-grow: 2;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8em;
    margin: 3em 0;
}
.pri::before{
    content: '1';
    position: absolute;
    transform: translate(-1em, 0);
    font-size: 32px;
    font-weight: 700;
}
.seg::before{
    content: '2';
    position: absolute;
    transform: translate(-1em, 0);
    font-size: 32px;
    font-weight: 700;
}
.ter::before{
    content: '3';
    position: absolute;
    transform: translate(-1em, 0);
    font-size: 32px;
    font-weight: 700;
}
.qua::before{
    content: '4';
    position: absolute;
    transform: translate(-1em, 0);
    font-size: 32px;
    font-weight: 700;
}